.venv/*
.history/*
logs/*
session/config/.env
ui/.env
ui/.pdfbox.cache
stock/app/core/.envs/.env.local
stock/celerybeat-schedule
session/static/admin/*
session/static/jazzmin/*
session/static/rest_framework/*
session/static/vendor/*
session/staticfiles/*
wallet/app/core/.envs/.env.local
pgadmin/.env.local
pgadmin/pgpass
deploy/infra/prod/secrets.auto.tfvars
deploy/infra/bootstrap/.terraform/*
deploy/infra/bootstrap/.terraform.lock.hcl
deploy/infra/bootstrap/terraform.tfstate
deploy/infra/bootstrap/terraform.tfstate.backup
deploy/infra/prod/.terraform/*
deploy/infra/prod/.terraform.lock.hcl
deploy/infra/prod/terraform.tfstate
deploy/infra/prod/terraform.tfstate.backup
*__pycache__

.flake8
commends.txt
*.fontconfig
*.pki
html_dumps
backups/
.pytest_cache/
.coverage
*/.coverage
tests/artifacts/
tests/**/output.xml
tests/**/log.html
tests/**/report.html
stock/tests/artifacts/
wallet/tests/artifacts/
session/tests/artifacts/
next-ui/tests/artifacts/
