.venv/*
.history/*
logs/*
session/config/.env
ui/.env
stock/app/core/.envs/.env.local
stock/celerybeat-schedule
session/static/admin/*
session/static/jazzmin/*
session/static/rest_framework/*
session/static/vendor/*
wallet/app/core/.envs/.env.local
pgadmin/.env.local
pgadmin/pgpass
*__pycache__

.flake8
commends.txt
*.fontconfig
*.pki
html_dumps

