[run]
branch = True
source =
    app
    app/core
    app/utils
    app/validators
omit =
    */__init__.py
    */__pycache__/*
    */tests/*
    */tests/artifacts/*
    app/core/.envs/*
    app/core/config.py
    app/db/session.py
    app/main.py
    app/models/base.py
    app/models/enums.py
    app/models/models.py
    app/schemas/*.py

[report]
precision = 2
show_missing = True
skip_empty = True
include =
    app/**/*.py
    app/*.py
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
title = FinancialManager Wallet Coverage
